@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
    from {
        transform: translateX(120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.35s ease-out;
}

/* progress bar animation */
@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.animate-progress {
    animation: progress 10s linear forwards;
}
